<div id="menu">
    <div id="menu_company_name">Alzheimer's Detector </div>
    <div id="menu_person_details">
        <div id="menu_person_details_img">
            <img src="../static/def/def_pers_icon.png" alt="def_pers_icon">
        </div>
        <div id="menu_person_details_cont_1">
            <div id="menu_person_details_cont_1_name">Piotr Kuboń xxxxxxxxxx</div>
            <div id="menu_person_details_cont_1_id">999999</div>
            <div id="menu_person_details_cont_1_title">doctior xxxxxx</div>
        </div>
    </div>
    <div id="menu_container_2">
        <div class="menu_container_2_out">
            <div class="menu_container_2_in">
                <a href="/home">
                    <div class="menu_container_2_in_text">Home</div>
                </a>
            </div>
        </div>
        <div class="menu_container_2_out">
            <div class="menu_container_2_in">
                <a href="/patient_list">
                    <div class="menu_container_2_in_text">Employees</div>
                </a>
            </div>
        </div>
        <div class="menu_container_2_out">
            <div class="menu_container_2_in">
                <a href="/logout">
                    <div class="menu_container_2_in_text">Log out</div>
                </a>
            </div>
        </div>
    </div>
</div>