<form action="/patient_examine" method="post" enctype = "multipart/form-data">
    <div class="container_box_1_out">
        <div class="container_box_1_in">
            <div class="container_box_1_in_img_box">
                <img src="{{patient.image}}" alt="def_pers_icon">
            </div>
            <div class="container_box_1_in_data_box">
                <div class="container_box_1_in_data_box_name">{{patient.name}} {{patient.surname}}</div>
                <div class="container_box_1_in_data_box_func">
                    <div class="container_box_1_in_data_box_func_but">
                        <form action="/examine_patient" method="post" enctype = "multipart/form-data">
                            <input class="container_box_1_in_data_box_func_but_input_hid" type="number" name="id" value="{{patient.id}}">
                            <div>
                                <div>Wybierz zdjęcie skanu mózgu:</div>
                                <input type="button" value="Zdjęcie skanu mózgu" onclick="document.getElementById('file_btn').click();" />
                                <input type="file" accept="image/*" name="brain_image" style="display:none;" id="file_btn" />
                            </div>
                            <input type="submit" value="Wyślij">
                        </form>
                        <div>
                            {{ response }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

