<form action="/patient_edit" method="post" enctype = "multipart/form-data">
    <div class="container_box_1_out">
        <div class="container_box_1_in">
            <div class="container_box_1_in_data_box">
                <div class="container_box_1_in_data_box_name">
                    <input class="container_box_1_in_data_box_func_but_input_hid" type="number" name="id" value="{{patient.id}}">
                    <input class="container_box_1_in_data_box_func_but_input_hid" type="text" name="image_txt" value="{{patient.image}}">
                    <input type="button" value="Zdjęcie" onclick="document.getElementById('file_btn').click();" />
                    <input type="file" accept="image/*" name="image" style="display:none;" id="file_btn" value="{{patient.image}}" />
                    <input type="text" name="name" placeholder="Imię..." value="{{patient.name}}">
                    <input type="text" name="surname" placeholder="Nazwisko..." value="{{patient.surname}}">
                    <input type="submit" value="Wyślij">
                </div>
            </div>
        </div>
    </div>
</form>