<form action="/edit_user" method="post" enctype = "multipart/form-data">
    <div class="container_box_1_out">
        <div class="container_box_1_in">
            <div class="container_box_1_in_img_box">
                <img src="{{user.image}}" alt="def_pers_icon">
            </div>
            <div class="container_box_1_in_data_box">
                <div class="container_box_1_in_data_box_name">{{user.name}} {{user.surname}}</div>
                <div class="container_box_1_in_data_box_func">
                    <div class="container_box_1_in_data_box_func_but">
                        <form action="/examine_user" method="post" enctype = "multipart/form-data">
                            <input class="container_box_1_in_data_box_func_but_input_hid" type="number" name="id" value="{{user.id}}">
                            <p>Insert Brain IMG</p>
                            <input type="file" name="brain_image" accept="image/*">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

