<!-- <form action="/test_dev_1" method="post"> -->
<form action="/test_dev_1" method="post" enctype = "multipart/form-data">
    <div class="container_box_1_out">
        <div class="container_box_1_in">
            <div class="container_box_1_in_data_box">
                <div class="container_box_1_in_data_box_name">
                    <input type="file" name="image" accept="image/*">
                    <input type="text" name="name" placeholder="Name...">
                    <input type="text" name="surname" placeholder="Surname...">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</form>