<div class="container_box_1_out">
    <div class="container_box_1_in">
        <div class="container_box_1_in_img_box">
            <img src="{{user.image}}" alt="def_pers_icon">
        </div>
        <div class="container_box_1_in_data_box">
            <div class="container_box_1_in_data_box_name">{{user.name}} {{user.surname}}</div>
            <div class="container_box_1_in_data_box_func">
                <div class="container_box_1_in_data_box_func_but">
                    <img src="../static/examine.png" alt="examine">
                    <p>EXAMINE</p>
                </div>
                <div class="container_box_1_in_data_box_func_but">
                    <img src="../static/history.png" alt="history">
                    <p>HISTORY</p>
                </div>
                <div class="container_box_1_in_data_box_func_but">
                    <img src="../static/edit.png" alt="edit">
                    <p>EDIT</p>
                </div>
                <div class="container_box_1_in_data_box_func_but">
                    <img src="../static/delete.png" alt="delete">
                    <p>DELETE</p>
                </div>
            </div>
        </div>
    </div>
</div>