<!DOCTYPE html>
<html>
<head>
    <title>Alzheimer's Detector</title>
    <link rel="stylesheet" href="../static/styles_container.css" type= "text/css">
    <link rel="stylesheet" href="../static/styles_footer.css" type= "text/css">
    <link rel="stylesheet" href="../static/styles_menu.css" type= "text/css">
    <link rel="stylesheet" href="../static/styles_other.css" type= "text/css">
    <link rel="stylesheet" href="../static/styles_login.css" type= "text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="login_container">
        <form action="/login" method="post">
            <div class="login_container_in">
                <input type="text" name="login" placeholder="Login..." value="{{login}}">
            </div>
            <div class="login_container_in">
                <input type="password" name="pwd" placeholder="Password..." value="{{pwd}}">
            </div>
            <div class="login_container_submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>