<!DOCTYPE html>
<html>
<head>
    <title>Alzheimer's Detector</title>
    <link rel="stylesheet" type="text/css" href="../static/styles_container.css">
    <link rel="stylesheet" type="text/css" href="../static/styles_footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles_menu.css">
    <link rel="stylesheet" type="text/css" href="../static/styles_other.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto'>

</head>
<body>
    {% include "partials/menu.html" %} 
    <div id="container">
        {% include "partials/partial_patient_examine.html" %}
    </div>
    <div id="footer"></div>
</body>
</html>